.lampa {
    border: solid 1px black;
    width: 60px;
    height: 60px;
    border-radius: 45%;
    
}

.lekapcsolva{
    border-radius: 45%;
    border: 1px solid black;
    background-color: gray;
}

.felkapcsolva{
    border-radius: 45%;
    border: 1px solid black;
    background-color: yellow;
}